.form {
    margin-top: 35px;
}

.input {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #fff;
}

.btn {
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    border: 1px solid #fff;
    background: #fff;
    color: #3a86ff;
    cursor: pointer;
}