input {
    border-radius: 25px;
    border: 1px solid #fff;
    text-align: center;
    
    
}

.btn {
    background: transparent;
    outline: none;
    border: none;
    height: 25px;
    margin: 0 5px;
    color: #fff;
    cursor: pointer;
}