/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #3a86ff;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    
}